.name {
    color: var(--primary);
}

.pictureContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profilePicture {
    max-width: 100px;
    border-radius: 99999px;
}

.jobContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.genderContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pageLinks {
    width: 100%;
    display: flex;
}

.pageLinks>button {
    cursor: pointer;
    background-color: var(--dark-background);
    color: var(--dark-text);
    border: 1px solid var(--dark-border);
    flex: 1;
    padding: 0.5rem 0;
}

.pageLinks>button:hover {
    background-color: var(--dark-background-light);
}

.pageLinks>button:active {
    background-color: var(--dark-background-dark);
}

.footerLinks {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footerLinks a {
    color: var(--dark-text);
    text-decoration: none;
    padding: 0.25rem 0.5rem;
    border-radius: 5px;
}

.footerLinks a:hover {
    color: var(--dark-background-light);
}

.footerLinks a:active {
    color: var(--dark-background-dark);
}

.footerLinks.light a {
    color: var(--light-text);
}

.footerLinks.light a:hover {
    color: var(--light-background-dark);
}

.footerLinks.light a:active {
    color: var(--dark-background-light);
}