.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pictureContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profilePicture {
    max-width: 100px;
    border-radius: 99999px;
}

.jobContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.genderContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footerLinks {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footerLinks a {
    color: var(--dark-text);
    text-decoration: none;
    padding: 0.25rem 0.5rem;
    border-radius: 5px;
}

.footerLinks a:hover {
    color: var(--dark-text);
}

.footerLinks a:active {
    color: var(--dark-text);
}

.footerLinks.light a {
    color: var(--light-text);
}

.footerLinks.light a:hover {
    color: var(--light-text);
}

.footerLinks.light a:active {
    color: var(--light-text);
}