.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pictureContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profilePicture {
    max-width: 150px;
    border-radius: 99999px;
}

.jobContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}