.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container.light {
    background-color: var(--light-background);
    color: var(--light-text);
    border: 1px solid var(--light-border);
}

.trade {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 1px;
}

.cell {
    background-color: var(--dark-background);
    color: var(--dark-text);
    border: 1px solid var(--dark-border);
    width: 16rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cell.light {
    background-color: var(--light-background);
    color: var(--light-text);
    border: 1px solid var(--light-border);
}

.cell>img {
    max-width: 16px;
}