.modal {
    background-color: var(--dark-background);
    color: var(--dark-text);
    border: 1px solid var(--dark-border);
    border-radius: 5px;
    width: 24rem;
    height: 6rem;
    position: fixed;
    top: 50%;
    left: 50vw;
    transform: translate(-50%, -50%);
    padding: 1rem;
}

.modal.light {
    background-color: var(--light-background-dark);
    color: var(--light-text);
    border-color: var(--light-border);
}

.title>span {
    color: var(--primary-dark);
}

.subtitle>span {
    color: var(--secondary-dark);
}

.button {
    background-color: var(--secondary);
    color: var(--dark-text);
    border: 1px solid var(--dark-border);
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    top: 1rem;
    left: 20.65rem;
    padding: 0.5rem;
}

.button:hover {
    background-color: var(--secondary-light);
}

.button:active {
    background-color: var(--secondary-dark);
}

.button.light {
    color: var(--light-text);
    border-color: var(--light-border);
}