.modal {
    background-color: #555;
    border-radius: 5px;
    width: 24rem;
    height: 6rem;
    position: fixed;
    top: 50%;
    left: 50vw;
    transform: translate(-50%, -50%);
    padding: 1rem;
}

.button {
    background-color: rgba(255, 255, 255, 33%);
    cursor: pointer;
    position: relative;
    top: 1rem;
    left: 20.65rem;
    border: none;
    border-radius: 5px;
    padding: 0.5rem;
}