.villager {
    background-color: #222;
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.villager:first-child {
    margin-top: 1rem;
}

.villager.light {
    background-color: #fff;
    color: #111;
}

.villagerTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
}

.link {
    color: #999;
    text-decoration: none;
}

.villagerName {
    margin: 0;
}

.villagerJob {
    margin: 0;
    padding-bottom: 1rem;
}

.profilePicture {
    max-width: 90px;
    border-radius: 99999px;
    margin-bottom: 1.25rem;
}