.villager {
    background-color: var(--dark-background);
    color: var(--dark-text);
    border: 1px solid var(--dark-border);
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.villager:first-child {
    margin-top: 1rem;
}

.villager.light {
    background-color: var(--light-background);
    color: var(--light-text);
    border-color: var(--light-border);
}

.villagerTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
}

.link {
    color: var(--dark-text);
    text-decoration: none;
}

.villagerName {
    margin: 0;
}

.villagerJob {
    margin: 0;
    padding-bottom: 1rem;
}

.profilePicture {
    max-width: 90px;
    border-radius: 99999px;
    margin-bottom: 1.25rem;
}