.form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown {
    cursor: pointer;
    background-color: var(--dark-background);
    color: var(--dark-text);
    border: 1px solid var(--dark-border);
    outline: 0px;
    width: 40%;
    padding: 0.25rem 0.25rem;
}

.dropdown.light {
    background-color: var(--light-background);
    color: var(--light-text);
    border-color: var(--light-border);
}

.submit {
    cursor: pointer;
    background-color: var(--dark-background);
    color: var(--dark-text);
    border: 1px solid var(--dark-border);
    border-left: none;
    padding: calc(0.25rem + 1px) calc(0.25rem + 1px);
}

.submit.light {
    background-color: var(--light-background);
    color: var(--light-text);
    border-color: var(--light-border);
}