.chat {
    display: flex;
    align-items: end;
    margin-bottom: 0.25rem;
}

.chat.user {
    justify-content: end;
}

.chatMessage {
    max-width: 16rem;
    height: fit-content;
    font-size: 18px;
    padding: 0.25rem 1rem;
    border-radius: 25px;
}

.chatMessage.user {
    background-color: var(--primary);
    margin-right: 0.5rem;
}

.chatMessage.villager {
    background-color: var(--secondary);
    margin-left: 0.5rem;
}

.chatImg {
    width: 50px;
    border-radius: 99999px;
}