.error {
    height: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.error.production>div {
    margin-bottom: 1rem;
}

.error.production>div:last-of-type {
    margin-bottom: 0;
}

.error.development {
    justify-content: space-around;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header>* {
    cursor: pointer;
}

.body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.body>p {
    cursor: pointer;
}

.errorMessage {
    cursor: pointer;
    transition: 250ms;
}

.errorMessage:hover {
    transform: scale(1.05);
}

.errorMessage:active {
    transform: scale(0.95);
}

.stackTrace {
    cursor: pointer;
    transition: 250ms;
}

.stackTrace:hover {
    transform: scale(1.05);
}

.stackTrace:active {
    transform: scale(0.95);
}