.error {
    height: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.error.production>div {
    margin-bottom: 1rem;
}

.error.production>div:last-of-type {
    margin-bottom: 0;
}

.error.development {
    justify-content: space-around;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.body {
    display: flex;
    flex-direction: column;
    align-items: center;
}