.subtitle {
    font-size: 12px;
}

.filter {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.villagerList {
    width: 45rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footerLinks {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footerLinks a {
    color: #999;
    text-decoration: none;
    padding: 0.25rem 0.5rem;
    border-radius: 5px;
}

.footerLinks a:hover {
    color: #888;
}

.footerLinks a:active {
    color: #777;
}

.footerLinks.light a {
    color: #111;
}

.footerLinks.light a:hover {
    color: #222;
}

.footerLinks.light a:active {
    color: #333;
}