.subtitle {
    font-size: 12px;
}

.filter {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.villagerList {
    width: 45rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footerLinks {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}