:root {
    --primary: #3B82F6;
    --primary-light: #60A5FA;
    --primary-dark: #2563EB;
    --secondary: #F59E0B;
    --secondary-light: #FBBF24;
    --secondary-dark: #D97706;

    --dark-background: #111827;
    --dark-text: #F9FAFB;
    --dark-border: #1F2937;

    --light-background: #F9FAFB;
    --light-text: #111827;
    --light-border: #E5E7EB;
}

* {
    margin: 0;
    padding: 0;
}

body,
body>* {
    font-family: "Lato", sans-serif;
}

#root {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}