* {
    margin: 0;
    padding: 0;
}

body,
body>* {
    font-family: "Lato", sans-serif;
    background-color: #111;
    color: #999;
}

#root {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}