:root {
    --primary: #05DF72;
    --primary-light: #34E58E;
    --primary-dark: #04B55B;

    --secondary: #E5B94E;
    --secondary-light: #F0D072;
    --secondary-dark: #C99C3B;

    --dark-background: #121212;
    --dark-background-light: #1E1E1E;
    --dark-background-dark: #0A0A0A;
    --dark-text: #F2F2F2;
    --dark-border: #2A2A2A;

    --light-background: #EDEDED;
    --light-background-light: #F5F5F5;
    --light-background-dark: #D9D9D9;
    --light-text: #1A1A1A;
    --light-border: #CCCCCC;
}

* {
    margin: 0;
    padding: 0;
}

body,
body>* {
    font-family: "Lato", sans-serif;
}

#root {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}