.title {
    color: var(--primary);
}

.button {
    cursor: pointer;
    background-color: var(--secondary);
    color: var(--dark-text);
    border: 1px solid var(--dark-border);
    border: none;
    border-radius: 5px;
    outline: none;
    padding: 0.25rem 0.5rem;
}

.button:hover {
    background-color: var(--secondary-light);
}

.button:active {
    background-color: var(--secondary-dark);
}

.button.light {
    color: var(--light-text);
    border-color: var(--light-border);
}

.footerLinks {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footerLinks a {
    color: var(--dark-text);
    text-decoration: none;
    padding: 0.25rem 0.5rem;
    border-radius: 5px;
}

.footerLinks a:hover {
    color: var(--dark-background-light);
}

.footerLinks a:active {
    color: var(--dark-background-dark);
}

.footerLinks.light a {
    color: var(--light-text);
}

.footerLinks.light a:hover {
    color: var(--light-background-dark);
}

.footerLinks.light a:active {
    color: var(--dark-background-light);
}