.button {
    cursor: pointer;
    background-color: var(--dark-background);
    color: var(--dark-text);
    border: 1px solid var(--dark-border);
    border: none;
    border-radius: 5px;
    outline: none;
    padding: 0.25rem 0.5rem;
}

.button.light {
    background-color: var(--light-background);
    color: var(--light-text);
    border-color: var(--light-border);
}

.footerLinks {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footerLinks a {
    color: var(--dark-text);
    text-decoration: none;
    padding: 0.25rem 0.5rem;
    border-radius: 5px;
}

.footerLinks a:hover {
    color: var(--dark-text);
}

.footerLinks a:active {
    color: var(--dark-text);
}

.footerLinks.light a {
    color: var(--light-text);
}

.footerLinks.light a:hover {
    color: var(--light-text);
}

.footerLinks.light a:active {
    color: var(--light-text);
}